<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Time Zones</title>
</head>
<body>
    <h1>Aktualny czas w strefach czasowych</h1>
    <table border="1">
        <tr>
            <th>Strefa czasowa</th>
            <th>Czas</th>
        </tr>
        {% for tz, time in current_times %}
        <tr>
            <td>{{ tz }}</td>
            <td>{{ time }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>
